<!DOCTYPE html>
<html>
  <head>
    <title>Formulario de inicio de sesión</title>
  </head>
  <body>
    <h2>Iniciar sesión</h2>
    <form action="{% url 'trivial_web:login'%}" method="post">
      {% csrf_token %}
      <label for="nombre_usuario">Nombre de usuario:</label>
      <input type="text" name="username"><b>{{error_username}}</b><br><br>
      <label for="contraseña">Contraseña:</label>
      <input type="password"  name="password"><b>{{error_password}}</b><br><br>
      <input type="submit" value="Iniciar sesión">
    </form>
  </body>
</html>